node_modules/

npm-debug.log*
yarn-debug.log*
*.log

pids/
*.pid
*.seed
*.pid.lock

lib-cov/

coverage/
*.lcov

node_modules/
jspm_packages/

.npm/

.env

.vscode/
.idea/

.DS_Store
Thumbs.db

docker-compose.override.yml

*.tsbuildinfo

build/
dist/
